body {
    background: #ffb901;
    font-family: 'Ermilov', sans-serif; /* Используем системный шрифт */ 
}

@font-face {
    font-family: 'Ermilov'; /* Задаем имя шрифта */
    src: url('../шрифты/Ermilov-bold.otf') format('otf'), /* Путь к файлу шрифта */
         url('../шрифты/Ermilov-bold.otf') format('otf'); /* Другой формат, если необходимо */
    font-weight: normal; /* Вес шрифта (normal, bold и т.д.) */
    font-style: normal; /* Стиль (normal, italic и т.д.) */
}

.text {
    margin-left: 20px;
}

.text-h3 {
    margin-left: 20px; /* Отступ слева для текста */
    opacity: 0.7; /* Прозрачность текста */
}

.frame {
    border: 7px solid #FFFFFF; /* Цвет и толщина рамки */
    padding: 20px; /* Отступ внутри рамки */
    width: 200px; /* Ширина */
    height: 250px; /* Высота */
    border-radius: 30px; /* Радиус скругления углов рамки */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); /* Тень для мелкой глубины */
    text-align: center; /* Центрируем текст */
}

.btn-padding {
    padding: 0px;
  }
  
  .btn-padding.clicked {
    background-color: white; /* Белый цвет при нажатии */
  }
  


/* second main*/



/* .container{
    margin: 0px 150px;
    text-align: center;
}

.answerbutton{
    
    justify-content: center;
    padding: 0px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 17px;
    text-decoration: none;
    border: 3px gray solid;
    
}

.answerbutton p{
    color: #000;
    text-align: center;
    font-size: 25px;
    
} */

.fixed_width{
    width:400px;
}
